main {
    margin-left: 240px;
    padding: 24px;
    min-height: 100vh;
    background-color: #fff;
}


.icon-btn i {
    font-size: 22px;
    color: white;
    transition: 0.3s ease color;
}

.icon-btn:hover i {
    color: #ce3e99; 
}


.logo {
    padding: 12px 24px; 
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.logo-icon {
    background-color: white;
    color: #311e6f;
    font-weight: 900;
    border-radius: 25%;
    padding: 6px 10px;
    margin-right: 10px;
}

.sidebar {
    background: linear-gradient(160deg, #2e1549 0%, #311e6f 100%);
    color: #fff;
    width: 240px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #311e6f;
    padding: 12px 24px; 
    color: white;
    border-radius: 8px; 
   
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.header-icons {
    display: flex;
    align-items: center;
    gap: 20px; 
    font-size: 22px; 
}


.content {
    margin-top: 32px;
    width: 95%; 
    margin-left: auto; 
    margin-right: auto; 
    background: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgb(0 0 0 / 0.1);
}

.search-container input[type="search"] {
    border: none;
    background: #4a3876;
    color: #fff; 
    padding: 10px 15px; 
    border-radius: 25px; 
    width: 350px; 
    outline: none;
    transition: 0.3s ease all;
}